body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.background-portfolio {
  background-image: url("assets/wallpaper.jpg");
  background-size: fill;
  background-repeat: repeat;
  position: left top;
  background-attachment: fixed;
}

.limit7lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.h-108 {
  height: 27rem;
}

.fade-in {
  animation: fadeIn 1s ease-in-out both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.animate-swing {
  animation: swing 1s ease-in-out infinite;
}

.animate-swing-hover:hover {
  animation: swing 1s ease-in-out infinite;
}

@media (max-width: 767px) {
  .menu-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .menu .fixed {
    height: auto;
  }

  .menu>.fixed>.menu-container {
    height: auto;
  }
}

.responsive-text {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@media (max-width: 425px) {
  .responsive-text {
    font-size: 7vw;
  }
}

.responsive-text2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 425px) {
  .responsive-text2 {
    font-size: 6vw;
  }
}

.ham {
  width: 40px;
  cursor: pointer;
  margin-top: 2px;
}

.lineMenu {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 4px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

.lineMenu+.lineMenu {
  margin-top: 6px;
}

.active .lineMenu:nth-child(1) {
  animation: ease .7s top forwards;
}

.not-active .lineMenu:nth-child(1) {
  animation: ease .7s top-2;
}

.active .lineMenu:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.not-active .lineMenu:nth-child(2) {
  animation: ease .7s scaled-2;
}

.active .lineMenu:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.not-active .lineMenu:nth-child(3) {
  animation: ease .7s bottom-2;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 10px;
    transform: rotate(0);
  }

  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }

  50% {
    top: 10px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 10px;
    transform: rotate(0);
  }

  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 10px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 10px;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}